<div class="row">
	<div class="col-12">
		<div class="page-header">
			<h2>Checkout</h2>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-12">
		<h3>
			You have selelected products:
		</h3>
		<div class="panel" ng-repeat="product in checkoutList">
			<div class="panel-text">{{ product.label }}</div>
		</div>
	</div>
</div>