<div class="row">
	<div class="col-12">
		<div class="page-header">
			<h2>Select customer</h2>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-12">
		<div class="panel" ng-repeat="customer in customers">
				<div class="panel-text text-center">
					<a href ng-click="selectCustomer(customer.id)">{{ customer.name }}</a>
				</div>
		</div>
	</div>
</div>