<div class="row">
	<div class="col-12">
		<div class="page-header">
			<h2>Select products</h2>
			<span class="info">Current location: {{location.label}}</span>
		</div>
	</div>
</div>
<div class="services-container">
	<div class="row">
		<div id="category-{{ category.name }}"" ng-repeat="category in categories" class="col-3">
			<h3 class="underline">{{ category.label }}</h3>
			<div check-list ng-model="catalogue" data-filter-prop="categoryId" data-filter-value="{{ category.id }}"></div>
		</div>
		<div class="col-3">
			<h3 class="underline">Basket</h3>
			<div>
				<ul class="check-list">
					<li class="check-list-item" ng-repeat="item in checkoutList">
						<span>{{item.label}}</span>
					</li>
				</ul>
			</div>
			<div class="center">
				<button ng-disabled="!checkoutList.length" type="button" ng-click="checkout()" class="btn btn-default">Checkout</button>
			</div>
		</div>
	</div>
</div>