/* */

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 62.5%
}

h2, h3, h4, h5 {
	margin: 7px 0;
}

header {
	height: 30px;
	line-height: 30px;
}

/* */

.main-container {
	font-size: 1.4em;
	margin: 0 auto;
	width: 960px;
}

/* */

.check-list {
	margin-left: 10px;
	padding: 0;
	list-style-type: none;
	list-style-position: outside;
}

.check-list-item {
	height: 25px;
	line-height: 25px;
	font-size: 1.2em;
}

.check-list-item input {
	height: 15px;
}

.check-list-item label {
	height: 25px;
}

/* */

.row {
	box-sizing: border-box;
}

.row > div{
	vertical-align: top;
}

.col-12 {
	width: 94%;
	margin: 0 3%;
}

.col-3 {
	box-sizing: border-box;
	display: inline-block;
	width: 29%;
	margin-right: 3%;
}

.row .col-3:first-child {
	margin-left: 3%;
}

.panel {
	background-color: #e2e2e2;
	border: 1px solid #c2c2c2;
	border-radius: 3px;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	margin-right: 7px;
	padding: 5px 7px;
	width: 20%;
}

.btn {
	background-color: #dfdfdf;
	border: 1px solid #c2c2c2;
	border-radius: 2px;
	font-size: 1.0em;
	padding: 5px 7px;
}

.btn:hover {
	border-color: navy;
}

.btn:focus {
	outline: 0;
	border-color:#c2c2c2;
}


/* */

.page-header {
	padding-bottom: 7px;
	margin-bottom: 7px;
	border-bottom: 1px solid gray;
}

.info {
	color: #c2c2c2;
}

.underline {
	border-bottom: 1px solid gray;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.hidden {
	display: none;
}
