<!doctype html>
<html lang="en" ng-app="myApp">
	<head>
		<meta charset="utf-8">
		<title>Project</title>
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="css/app.css">
	</head>
	<body ng-controller="FrameController">
		<div class="main-container">
			<header class="text-right">
				<div class="row">
					<div class="col-12">
						<span ng-if="customer.id">Welcome: {{ customer.name }}</span>
						<span ng-if="customer.id"><a href ng-click="changeCustomer()">Change customer</a></span>
					</div>
				</div>
			</header>
			<div class="viewContent" ng-view></div>
		</div>
		<script src="js/app.js"></script>
	</body>
</html>