<ul class="check-list">
	<li class="check-list-item" ng-repeat="item in list">
		<label for="item-{{ item.id }}">
			<input id="item-{{ item.id }}" type="checkbox" ng-model="item.selected">
			{{ item.label }}
		</label>
	</li>
</ul>